<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <title>ng Animate</title>
   <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.css">
</head>
<body ng-cloak>
    <div ng-controller="MyAppCtrl as ctrl">
       {{ctrl.reply}}
    </div>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.controller.js"></script>
</body>
</html>