<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <title>Registration</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/theme.css">
</head>

<body>
    <div ng-controller="MyAppCtrl as ctrl" ng-cloak class="container">
        <div ng-hide="ctrl.completedRegistration">
            <h1>Registration</h1>
            <form name="registrationForm" ng-submit="registrationForm.$valid && ctrl.submitForm()" novalidate>
                <div class="form-group">
                    <label>Email address</label>
                    <input name="email" type="email" placeholder="Example: you@domain.com" class="form-control" ng-model="ctrl.user.email" required/>
                    <div class="validation" data-ng-show="registrationForm.email.$touched || registrationForm.$submitted">
                        <div data-ng-show="registrationForm.email.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Email is mandatory.
                        </div>
                        <div data-ng-show="registrationForm.$error.email">
                            <span class="glyphicon glyphicon-alert"></span> Email is invalid.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input name="password" type="password" class="form-control" ng-model="ctrl.user.password" required minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                    />
                    <div class="validation" data-ng-show="registrationForm.password.$touched || registrationForm.$submitted">
                        <div data-ng-show="registrationForm.password.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Password is required.
                        </div>
                        <div data-ng-show="registrationForm.password.$error.minlength">
                            <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 characters long.
                        </div>
                        <div data-ng-show="registrationForm.password.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> Password must include at least one number, a
                            special character and a upper and lowercase.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Full Name</label>
                    <input name="name" type="text" class="form-control" ng-model="ctrl.user.name" required/>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <br/>
                    <input name="gender" type="radio" value="M" ng-model="ctrl.user.gender" required/> Male
                    <br/>
                    <input name="gender" type="radio" value="F" ng-model="ctrl.user.gender" /> Female
                    <br/>
                    <!-- <div data-ng-show="ctrl.isFemale() == false">
                        <span class="glyphicon glyphicon-alert"></span> Only females
                    </div> -->
                </div>
                <div class="form-group">
                    <label>Date of Birth</label>
                    <input name="dob"  type="date" class="form-control" ng-model="ctrl.user.dob" required />
                    <div class="validation" data-ng-show="registrationForm.dob.$touched || registrationForm.$submitted">
                        <div data-ng-show="ctrl.isAbove18() == false">
                            <span class="glyphicon glyphicon-alert"></span> Must be above 18
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" name="address" type="text" class="form-control" ng-model="ctrl.user.address" required />                    {{ ctrl.user.address }}
                    <div class="validation" data-ng-show="registrationForm.address.$touched || registrationForm.$submitted">
                        <div data-ng-show="registrationForm.address.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Address is required.
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select class="form-control" ng-model="ctrl.user.country" required>
                    <option value="{{country}}" ng-repeat="country in ctrl.countries">{{country}}</option>
                </select>
                    </div>
                    <input type="submit" class="btn btn-primary" ng-disabled="!registrationForm.$valid">
            </form>
            </div>
            <div ng-show="ctrl.completedRegistration">
                <h1>Thanks</h1>
            </div>
        </div>
        <script src="./bower_components/jquery/dist/jquery.min.js"></script>
        <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="./bower_components/angular/angular.min.js"></script>
        <script src="js/app.module.js"></script>
        <script src="js/app.controller.js"></script>
</body>

</html>